# Practicing with Pandas

In this session you are going to apply some of the knowledge you (hopefully) acquired
in Lecture 3.

In each step of this notebook is required that you perform some action.


----
Import the necessary libraries

In [ ]:
from pandas import DataFrame, Series
from io import StringIO 
import pandas as pd
import numpy as np
import os
import matplotlib as mpl
import matplotlib.pyplot as plt

from IPython.display import Image
IMG_PATH, DATA_PATH = "./img", "./data"


def describe(a):
    if type(a) is np.ndarray:
        print("data:\n{}\nshape:{}\ndtype:{}\ntype: {}".format(a, a.shape, a.dtype, type(a)))
    elif type(a) is pd.Series:
        print("data:\n{}\nshape:{}\ndtype:{}\nname:{}\nindex-name:{}\ntype:{}".format(a, a.shape, a.dtype, a.name, a.index.name, type(a)))
    elif type(a) is pd.DataFrame:
        print("data:\n{}\nshape:{}\ntype:{}".format(a, a.shape,type(a)))
    else:
        print("{}, type:{}".format(a, type(a)))


hrule = lambda x : "="*x
Hrule = lambda x,y: "="*(x//2)+y+"="*(x//2)
Data = lambda file : os.path.join(DATA_PATH, file)
Img  = lambda img : os.path.join(IMG_PATH, img)

---

Download the dataset at the given url

In [ ]:
url = "https://raw.githubusercontent.com/acalio/Data-Mining-Course/master/Lecture%203/data/nba.csv"

In [ ]:
df = pd.read_csv(Data('nba.csv'))
df.head()

Remove the nasty ``Unnamed: 0`` column.

---
What is the shape of the data-frame? Which are the dtypes of the columns?

Print the name of all the columns

Divide the DataFrame into tow dataframe. The first one must contain only the non-numerical columns while the second one must contains the numerical columns.

Check if the dataframe contains missing data

Display summary statistics

Sort the dataframe in descending order wrt to the colun ``SALARY_MILLIONS``

Sort the dataframe in descending order wrt to the column ``SALARY_MILLIONS`` and ``AGE``.
The first one in descending order and the second one in ascending order.

Give me the top-10 players with highest salary. 

I only need the ``PLAYER`` column

The list of all the different teams

I want to be able to execute the following query:
```
df.loc['GS']
```
It has to return all the players in lex order

I want to obtain a pandas Series with the name of a TEAM as index and the number of player
for that team as value.

Return all the rows with at least NaN

Think about wheter dropping these value seems to be a reasonable choice or not.

Get all the duplicated rows

Remove duplicated rows and keep the first occurence of the duplicated value.

Substitute each position with a number. 
In particular:
```
PG -> 1, C->5, SF->3 SG->2 PF->4 PF-C->5
```

Add a new column which contains the full name of each team.

Call the new column ``FULL_TEAM``. 

Example:
``
df['FULL_TEAM'] = Golden State Warriors if TEAM == GS, Chicaco Bulls if TEAM == CHI ....
``

Note that in the list of TEAMS some player actually played for two different teams in the same year.

I need you to replace whether you find ``Team1/Team2`` with ``Team1``.

Recompute the FULL_TEAM column

Starting from the Player Column, create two columns each containing the 
first and the last name of a player. Then drop the original Player Column

Discretize the the ``3P%`` column by quantile. 

I want 4 categories: ``(SHARP_SHOOTER > SHOOTER > BLIND_AS_A_BAT > BETTER_GET_CLOSER)``

Let's check the number of element inside each bin

Encode the previous column as a one-hot-ecoding vector.
Replace the new vector with the the original column.

Create a new data frame (call it df1) which contains only the columns ``TEAM, SALARY_MILLIONS, POSITION``.

Then define a MultiIndex object (TEAM, POSITION) sorted in ascending order wrt the POSITION.

---
Let's load another dataset

Merge the two dataset on the TEAM column (call it dfmerged)

Extend the dfteam dataframe with the following information:

1. number of player per team
2. total amoun of salary
3. the name of the player with the hihest salary (see idxmax function)
4. the gap between the richest and the poorest player in the same team
5. the name of the richest and the poorest player in two separate columns
6. the total amount of point per game considering every player in the team
7. the name of the youngest player for every team

In [ ]:
# enjoy

---
Plotting
---

Take a fist look at the entire dataset.

Hint: scatter_matrix (it takes too long please plot subset of points and columns)

Ok, this matrix is too big. Now I ask you to make a stretch of the imagination.

Imagine you are asked to predict the Salary of a player. 

> Which are the most reasonable features to consider?

You lack of apriori knowledge? It's fine let'se the 
the [Pearson's correlation coefficient](https://it.wikipedia.org/wiki/Indice_di_correlazione_di_Pearson).

Select the features that are more significant for you and plot the scatter matrix.

Take a look to the Salary distribution per ``POSITION``. 

You should take a kind of plot that enables you to check also the presence of outliers.

Plot the histogram against the ``POINTS`` feature (use qcut).

The height of the bar must denote the nmber of player within the given a range of points.

Plot the density estimate of the ``SALARY_MILLIONS`` feature.

You have to plot the distribution separately for ``TEAM`` in a different subplot.

I want to understand how ``POINTS`` relates with the ``AGE`` of a player.

Therefore the x-axis of your plot should be the ``AGE`` feature while the y-axis
should be the ``POINTS`` feature.

Also, I want to represent in the same plot the position of each player, his team 
and his salary.

Finally, upon each point I want to see the last name of the player. (Hint: [axes annotation](https://matplotlib.org/api/_as_gen/matplotlib.axes.Axes.annotate.html))